<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>
    <link rel="stylesheet" href="font\Hubballi\Hubballi-Regular.ttf">
    <link rel="stylesheet" href="font\ananda-black-font\AnandaBlackPersonalUseRegular-rg9Rx.ttf">
    <link rel="stylesheet" href="css/style.css">
    <title>Yt Playlist Length</title>
    <style>
        #text {
          white-space: nowrap;
          overflow: hidden;
          border-right: .15em solid orange;
          margin: auto;
          animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
          color: rgb(41, 41, 228);
        }
      
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      
        @keyframes blink-caret {
          from,
          to {
            border-color: transparent;
          }
          50% {
            border-color: rgb(29, 36, 214);
          }
        }
      </style>
      </head>
      <body>
      
</head>


<body>
    <nav class="nav">
        <ul class="nav-child">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>

    </nav>
    <nav class="m_nav">
        <img style="object-fit: contain;" src="img/text.png" width="140px" alt="">
        <a href="https://github.com/fardin-developer"> <img src="img/logo.png" alt="" width="35px">
        </a>
    </nav>
    <hr>
    <h1 style="text-align: center;">About Us</h1>
    <div style="display: flex; width: 70%;justify-content: flex-start;align-items: center; margin: auto; gap: 10px;">
        <h2 >Hey I am</h2><a href="https://github.com/fardin-developer"><h2 id="text"></h2></a>

    </div>
    <p style="text-align:justify; width:70%; margin: auto;font-size:large;">Welcome to YT Playlist Length Calculator!
        Our online tool is designed to help you calculate the total length of
        your YouTube playlists quickly and easily.

        Our team, led by founder Fardin Mustaque, is dedicated to providing the best user experience possible. We
        understand the importance of accurate data and efficiency, which is why we created this tool with those values
        in mind.

        Our calculator is designed with simplicity in mind, making it easy to use for everyone. All you have to do is
        enter the URL of your YouTube playlist, and our tool will do the rest. We pride ourselves on the accuracy and
        speed of our calculations.

        Our website is optimized for search engines, meaning you can easily find us when searching for playlist length
        calculators online. We use the latest SEO techniques to ensure that our website ranks highly in search results,
        making it easy for you to find us.

        At YT Playlist Length Calculator, we are constantly working to improve our tool and provide the best user
        experience possible. We value your feedback and welcome any suggestions you may have.

        Thank you for choosing YT Playlist Length Calculator for all your YouTube playlist length calculation needs.

    </p>
    <script>
        const text = "Fardin Mustaque...";
        let newText = "";
        for (let i = 0; i < text.length - 1; i++) {
          newText += text[i];
        }
        document.getElementById("text").innerHTML = newText + ".";
      </script>
</body>

</html>