<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>
    <link rel="stylesheet" href="font\Hubballi\Hubballi-Regular.ttf">
    <link rel="stylesheet" href="font\ananda-black-font\AnandaBlackPersonalUseRegular-rg9Rx.ttf">
    <link rel="stylesheet" href="css/style.css">
    <title>Yt Playlist Length</title>
</head>

<body>
    <nav class="nav">
        <ul class="nav-child">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>

    </nav>
    <nav class="m_nav">
        <img style="object-fit: contain;" src="img/text.png" width="140px" alt="">
        <a href="https://github.com/fardin-developer"> <img src="img/logo.png" alt="" width="35px">
        </a>
    </nav>
    <hr>
    <h1 style="text-align: center;">Contact Us</h1>
    <p style="text-align:justify; width:70%; margin: auto;font-size:large;">

        We'd love to hear from you! At YT Playlist Length Calculator, we value your feedback and are always available to
        answer any questions you may have.

        If you have any questions about our calculator or need assistance with using it, please don't hesitate to reach
        out to us. You can contact us by sending an email to fardindeveloper1@gmail.com. We will do our best to respond
        to your inquiry as quickly as possible.

        If you have any suggestions for improving our website or would like to share your experience using our
        calculator, we would love to hear from you. Your feedback is invaluable to us and helps us continue to improve
        our tool.

        Thank you for visiting YT Playlist Length Calculator, and we look forward to hearing from you soon!

    </p>
</body>

</html>